@import '../../utils/bootstrap/css/vapor/bootstrap.min.css';
/* @import './home.css'; */
@import './obstacles.css';
@import './road.css';
@import './toast.css';
@import './car.css';
@import './dialog.css';
@import './tree.css';
@import './menus.css';
@import './overridesBootstrap.css';

@font-face {
    font-family: 'StreetDripsExtrude';
    src: url('../fonts/StreetDripsExtrude.ttf');
}

@font-face {
    font-family: 'StreetDrips';
    src: url('../fonts/StreetDrips.otf');
}

a {
    text-decoration: none;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    background-attachment: fixed;
}

html {
    /* Barras de Scroll */
    scrollbar-width: thin;
    scrollbar-color: #6900be #040116;
}

/* Web Styles */

/* svg {
    width: 100%;
    height: 600px;
    display: block;
} */
.controls {
    margin-bottom: 8px;
}

button,
input {
    margin-right: 6px;
}

#status {
    margin-left: 8px;
    color: #8fd;
}

.no-scroolbars {
    /* display: none; */
    scrollbar-width: none !important;
}
