#tree-render {
    width: 100% !important;
}

#tree-render {
    overflow: scroll !important;
    scrollbar-width: none;
}

#tree-container {
    background: #071225;
    padding: 8px;
    border-radius: 6px;
    flex: 1;
    width: 1000%;
    overflow: scroll;
}

#tree-render svg {
    width: 1000%;
    height: 1000%;
}

.controls {
    margin-bottom: 8px;
}

button,
input {
    margin-right: 6px;
}
